@if (isLinked()) {
  <a
    class="region-card-link"
    [routerLink]="['/regioni/regione-dettaglio']"
    [queryParams]="{ regionId: regionId() }"
    [attr.aria-labelledby]="titleId"
    [pTooltip]="'Apri ' + card().name"
    tooltipPosition="top"
  >
    <ng-container [ngTemplateOutlet]="regionCard" />
  </a>
} @else {
  <ng-container [ngTemplateOutlet]="regionCard" />
}

<ng-template #regionCard>
  <p-card class="region-card" [class.region-card--compact]="compact()">
    <ng-template #header>
      <app-responsive-image
        class="region-image"
        [class.region-image-placeholder]="isPlaceholderImage()"
        [src]="imageSrc()"
        [alt]="card().name"
        size="lg"
        [fill]="true"
        (imageError)="useFallbackImage()"
      />
    </ng-template>

    <div class="region-content">
      <div>
        <span class="region-title" [id]="titleId">{{ card().name }}</span>
        <p>{{ subtitle() }}</p>
      </div>

      <p-tag class="places-badge" [value]="placesLabel()" />
    </div>
  </p-card>
</ng-template>
