<p-card class="region-card" [attr.aria-label]="card().name">
  <ng-template #header>
    <app-responsive-image
      class="region-image"
      [class.region-image-placeholder]="isPlaceholderImage()"
      [src]="imageSrc()"
      [alt]="card().name"
      size="lg"
      [fill]="true"
      (imageError)="useFallbackImage()"
    />
  </ng-template>

  <div class="region-content">
    <div>
      <h4>{{ card().name }}</h4>
      <p>{{ subtitle() }}</p>
    </div>

    <p-tag class="places-badge" [value]="placesLabel()" />
  </div>
</p-card>
