@import '../../../../styles.css';


:host {
  display: block;

  width: 100%;

  height: 100%;
}


/* CONTAINER */

.card-container {
  width: 100%;

  height: 100%;
}


/* PRIME CARD */

::ng-deep .card-container .p-card {

  width: 100%;

  height: 100%;

  display: flex;

  flex-direction: column;

  overflow: hidden;
}


/* HEADER */

::ng-deep .card-container .p-card-header {

  height: 17rem;

  flex-shrink: 0;

  display: flex;

  flex-direction: column;

  overflow: hidden;
}


/* città + data */

.content-title {

  color: #9ca3af;

  padding: .9rem;

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  gap: .5rem;

  flex-shrink: 0;

}


/* immagine */

::ng-deep .card-container .p-card-header img {

  width: 100%;

  flex: 1;

  min-height: 0;

  object-fit: cover;

  display: block;

}


/* BODY */

::ng-deep .card-container .p-card-body {

  flex: 1;

  min-height: 0;

  display: flex;

  flex-direction: column;

  overflow: hidden;

  gap:0;

}



/* TITLE */

::ng-deep .card-container .p-card-title {

  flex-shrink: 0;

}


.card-title-container {

  display: flex;

  flex-direction: column;

  gap: .35rem;

  padding: .8rem;

  overflow: hidden;

}


/* SUBTITLE = DESCRIPTION */

::ng-deep .card-container .p-card-subtitle {

  flex: 1;

  min-height: 0;

  overflow: hidden;

  margin: 0;
}



.description {

  margin: 0;

  padding:0 .8rem ;

  height: 100%;

  overflow-y: auto;

  line-height: 1.35;

  display: block;
}



/* scrollbar */

.description::-webkit-scrollbar {

  width: .3125rem;

}


.description::-webkit-scrollbar-thumb {

  border-radius: .625rem;

}



/* FOOTER */


::ng-deep .card-container .p-card-footer {

  flex-shrink: 0;

  margin-top: auto;

}



.reaction {

  border-top: .125rem solid #f7f8f9;

  display: flex;

  justify-content: flex-end;

  align-items: center;

  gap: .8rem;

  padding: .9rem;

}



.reaction-btn {

  display: flex;

  align-items: center;

  gap: .375rem;

  background: transparent;

  border: none;

  color: #9ca3af;

  font-size: 1.1rem;

  cursor: pointer;

}


.reaction-btn i {

  font-size: 1.5rem;

  transition:

    transform .2s ease,

    color .2s ease;

}


/* ANIMAZIONI */

.like-animation {

  animation: likePop .3s ease;

  color: #ef4444;

}


.dislike-animation {

  animation: dislikePop .3s ease;

  color: #6366f1;

}


@keyframes likePop {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.45) rotate(-10deg);
  }

  100% {
    transform: scale(1);
  }

}


@keyframes dislikePop {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.35) rotate(10deg);
  }

  100% {
    transform: scale(1);
  }

}


.reaction-btn i:hover {

  color: #555;

}



/* BADGE */

.subtag-badge {

  display: inline-flex;

  max-width: 75%;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;


  padding: .5rem .8rem;

  border-radius: 999px;


  font-size: .75rem;

  font-weight: 500;

}


/* COLORI */

.subtag-badge-1 {

  background-color: #f0d7f6;

  color: #c86ddf;

}


.subtag-badge-2 {

  background-color: #d9f4e8;

  color: #32b87a;

}


.subtag-badge-3 {

  background-color: #dceeff;

  color: #4a90e2;

}


.subtag-badge-4 {

  background-color: #ffe8d6;

  color: #f28c38;

}
