@import '../../../../styles.css';



.page-container {

  min-height:100vh;

  background:#fafafa;

  padding:2rem 6rem;

  display:flex;

  flex-direction:column;

  gap:.5rem;

}




/* HERO */

.hero-section {

  display:flex;

  justify-content:center;

}



app-card-region {

  width:100%;

 

}





/* TITOLI */

.categories-section {


  width:100%;

}



.section-title {


  font-size:.8rem;

  color:#9ca3af;

  text-transform:uppercase;

  letter-spacing:.08em;

  margin-bottom:1.5rem;

}





.categories-list {


  display:flex;

  flex-direction:column;

  gap:2.5rem;

}






/* CATEGORIA */


.category-row {


  background:transparent;

}



.category-header {


  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:1rem;

  cursor:pointer;

}



.category-name {


  display:flex;

  align-items:center;
  justify-content: center;

  gap:.6rem;

}



.category-name h4 {


  margin:0;

  font-size:1.25rem;

  color:#111827;

  font-weight:600;

}



.category-name span {
padding-top: 0.3rem;

  color:#9ca3af;

  font-size:.85rem;


}




:host .arrow-link {

  border:none;

  background:transparent;

  padding:0;

  color:#8b5cf6;

  font-size:.85rem;

  font-weight:500;

  cursor:pointer;

}


:host .arrow-link:hover {

  text-decoration:underline;

}



/* CARDS */

.cards-container {


  display:flex;

  gap:1rem;

  overflow-x:auto;

  padding-bottom:.8rem;


}



.cards-container::-webkit-scrollbar {

  height:5px;

}



.cards-container::-webkit-scrollbar-thumb {

  border-radius:10px;

  background:#ddd;

}





.scroll-item {


  flex:0 0 300px;

  height:420px;

}






.scroll-item app-card-content-component {


  width:100%;

  height:100%;

}






/* BOX VUOTA */


.empty-category-box {


  width:100%;

  padding:2rem;

  background:#f9fafb;

  border-radius:12px;

  color:#9ca3af;

  text-align:center;

}





/* CONTENITORE BADGE */

:host .tags-container {

  width:100%;

  display:flex;

  justify-content:space-between;

  align-items:center;

  gap:1rem;

  padding:.5rem 0;

}





/* BADGE */

:host .subtag-badge {

  flex:1;

  display:flex;

  align-items:center;

  justify-content:center;


  padding:.5rem .8rem;


  border-radius:999px;


  font-size:.75rem;

  font-weight:500;


  white-space:nowrap;

  overflow:hidden;

  text-overflow:ellipsis;


}





/* COLORI */

:host ::ng-deep .subtag-badge-1 {

  background-color:#f0d7f6;

  color:#c86ddf;

}



:host ::ng-deep .subtag-badge-2 {

  background-color:#d9f4e8;

  color:#32b87a;

}



:host ::ng-deep .subtag-badge-3 {

  background-color:#dceeff;

  color:#4a90e2;

}



:host ::ng-deep .subtag-badge-4 {

  background-color:#ffe8d6;

  color:#f28c38;

}



@media(max-width:768px){


.page-container{

padding:1.5rem 1rem;

}



.scroll-item{

flex:0 0 260px;

height:380px;

}



}
