<div class="page-container">
  <header class="hero-section">
    @if (currentRegion(); as regionData) {
      <app-card-region [region]="regionData" [placesCount]="regionContents().length" />
    } @else if (isLoading()) {
      <div class="loading-placeholder">Caricamento dettagli regione...</div>
    } @else {
      <div class="error-placeholder">Regione non trovata</div>
    }
  </header>

  <main class="categories-section">
    <!-- BADGE TAG -->

    <div class="tags-container">
      @for (tag of tags(); track tag.id; let i = $index) {
        <span class="subtag-badge" [ngClass]="'subtag-badge-' + (i + 1)">
          {{ tag.name }}
        </span>
      }
    </div>

    <div class="categories-list">
      @for (tag of tags(); track tag.id) {
        <section class="category-row">
          <div class="category-header">
            <div class="category-name">
              <h4>
                {{ tag.name }}
              </h4>

              <span >
                {{ getCountForTag(tag.id) }}
                luoghi
              </span>
            </div>

            <div class="category-actions">


              @if (getCountForTag(tag.id) > 0) {
                <button class="arrow-link" type="button" (click)="onTagClick(tag.id)">
                  Vedi tutti →
                </button>
              }
            </div>
          </div>

          <div class="cards-container">
            @for (item of getContentsForTag(tag.id); track item.id) {
              <div class="scroll-item">
                <app-card-content-component
                  [content]="item"
                  [subTag]="getSubTagById(item.sub_tag_id)"
                />
              </div>
            } @empty {
              <div class="empty-category-box">Nessun luogo presente</div>
            }
          </div>
        </section>
      } @empty {
        <div class="empty-category-box">Nessuna categoria disponibile</div>
      }
    </div>
  </main>
</div>
