<div class="page">
  <!-- BREADCRUMB

  <div class="breadcrumb">Italia / Regione / Tag</div> -->

  <!-- RICERCA -->

  <div class="search-bar">
    <input type="text" placeholder="Cerca un luogo..." [(ngModel)]="searchText" />

    <p-select
  class="city-select"
  [options]="cities"
  [(ngModel)]="selectedCity"
  placeholder="Tutte le città"
  [filter]="true"
  [showClear]="!!selectedCity">
</p-select>

  </div>

  <div class="content-layout">
    <!-- FILTRI -->

    <aside class="filters">

  <h4>ORDINA PER</h4>

  <label>
    <input
      type="radio"
      name="sort"
      value="popular"
      [(ngModel)]="sortType"
    />

    Popolari
  </label>


  <label>
    <input
      type="radio"
      name="sort"
      value="recent"
      [(ngModel)]="sortType"
    />

    Più recenti
  </label>


  <h4>SOTTOCATEGORIE</h4>


  @for (sub of filteredSubTags(); track sub.id) {

    <label>

      <input
        type="checkbox"
        [checked]="selectedSubTags().includes(sub.id)"
        (change)="toggleSubTag(sub.id)"
      />


      {{sub.name}}

    </label>

  }


</aside>

    <!-- CARDS -->

    <section class="cards">
      @for (item of filteredContent(); track item.id) {
         <app-card-content-component
      [content]="item"
      [subTag]="getSubTag(item.sub_tag_id)!"
    />
      }

      @if (filteredContent().length === 0) {
        <p>Nessun risultato trovato</p>
      }
    </section>
  </div>
</div>
