.page{
  padding: 20px 44px;
}


.search-bar{

  display:flex;
  gap:10px;

  margin:30px 0;

}


.search-bar input{

  flex:1;

  padding:14px;

  border:1px solid #ddd;

  border-radius:8px;

}


.content-layout{

  display:flex;

  gap:20px;

}



.filters{

  width:180px;

  background:white;

  border:1px solid #eee;

  border-radius:12px;

  padding:20px;

}



.filters h4{

  font-size:12px;

  color:#999;

  margin-bottom:15px;

}



.filters label{

  display:block;

  margin:12px 0;

  font-size:14px;

}




.cards{

  flex:1;

  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:18px;

}
